body {
    margin: 0 auto;
}

.row, .col-12 {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.bg-img {
  
  background-size: cover;
  background-position: center center;
  height: 40em;
  width: 100%;
  position: absolute;
  z-index: -3;
}

.kitty {
  text-align: center;
}

.kitty img {
  margin-top: 18em;
}